/* .homeTitle {
    font-family: sans-serif;
margin: 100px auto;
text-align: center;
font-size: 40px;
max-width: 600px;
position:relative;
}

.homeTitle::before{
    content: "";
display:block;
width: 550PX;
height:2px;
background: #000;
position: absolute;
left: 0;
top: 50%;
z-index: -2;
}


.homeTitle::after{
    content: "";
display:block;
width: 550px;
height:2px;
background: #000;
position: absolute;
right: 0;
top: 50%;
z-index: -2;
} */